html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  position: absolute;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;

  > canvas {
    top: 0;
    left: 0;
    position: absolute;
  }
}